@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("img/pattern-background-mobile.svg");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  height: 100vh;
  font-family: "Red Hat Display";
  display: flex;
  align-items: center;
}

main {
  background-color: white;
  margin: 0 auto;
  width: 87vw;
  max-width: 450px;
  border-radius: 20px;
  box-shadow: 0px 20px 50px -7px rgb(183, 191, 241);
}

main > img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

section {
  padding: 0 1.5rem 2rem 1.5rem;
}

h1 {
  margin: 1.5rem 0 1rem 0;
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
  color: hsl(223, 47%, 23%);
}

.description {
  margin: 0 0.5rem;
  line-height: 1.6rem;
  text-align: center;
  color: hsl(224, 23%, 55%);
}

.plan {
  background-color: hsl(225, 100%, 98%);
  margin: 1.6rem 0 1.5rem 0;
  padding: 1rem;
  border-radius: 12px;
  display: grid;
  grid-auto-flow: column;
}

.price strong {
  font-weight: 900;
  font-size: 0.9rem;
  color: hsl(223, 47%, 23%);
}

.price p {
  line-height: 1.7rem;
  font-size: 0.9rem;
  color: hsl(224, 23%, 55%);
}

.plan a {
  text-decoration: underline;
  font-weight: 700;
  font-size: 0.8rem;
  color: hsl(245, 75%, 52%);
  justify-self: end;
  align-self: center;
}

.plan a:hover {
  text-decoration: none;
  color: hsl(245, 83%, 68%);
}

.button {
  display: block;
  background-color: hsl(245, 75%, 52%);
  padding: 1rem 0;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: center;
  color: white;
  border-radius: 12px;
  box-shadow: 0 18px 30px -7px rgb(197, 189, 245);
}

.button:hover {
  background-color: hsl(245, 83%, 68%);
}

.cancel {
  display: block;
  margin-top: 1.5rem;
  text-decoration: none;
  font-weight: 900;
  font-size: 0.9rem;
  text-align: center;
  color: hsl(224, 23%, 55%);
}

.cancel:hover {
  color: hsl(223, 47%, 23%);
}

@media screen and (min-width: 475px) {
  body {
    background-image: url("img/pattern-background-desktop.svg");
  }

  section {
    padding: 0 2.5rem 3.1rem 2.5rem;
  }

  h1 {
    margin-top: 2.5rem;
    font-size: 1.8rem;
  }

  .description {
    margin: 0 1.5rem;
    line-height: 1.65rem;
    font-size: 1.1rem;
  }

  .plan {
    margin: 1.3rem 0 1.8rem 0;
    padding: 1.6rem;
  }

  .price strong {
    font-size: 1rem;
  }

  .price p {
    font-size: 1rem;
  }

  .cancel {
    margin-top: 2rem;
  }
}